MessageEngine/EngineConfig/VersionService/EngineConfigVersionClientDll/Service References/EngineConfigVersionWCFServiceReference/EngineConfigVersionData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EngineConfigVersionData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EngineConfigVersionData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EngineVersionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemblyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssemblyVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineServiceAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EngineVersionData" nillable="true" type="tns:EngineVersionData" />
</xs:schema>