MessageEngine/EngineConfig/EngineConfigUtil/Service References/svcEngineConfig/item54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8989/EngineConfigWCF/EngineConfigService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDeviceConfigOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceConfigOption" nillable="true" type="tns:DeviceConfigOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceConfigOption" nillable="true" type="tns:ArrayOfDeviceConfigOption" />
  <xs:complexType name="DeviceConfigOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableChoices" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceConfigOption" nillable="true" type="tns:DeviceConfigOption" />
  <xs:simpleType name="FilterType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Inbound" />
          <xs:enumeration value="Outbound" />
          <xs:enumeration value="InOut">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="FilterType" nillable="true" type="tns:FilterType" />
  <xs:simpleType name="DeviceState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Started" />
      <xs:enumeration value="Stopped" />
      <xs:enumeration value="NotReporting" />
      <xs:enumeration value="Offline" />
      <xs:enumeration value="Running" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeviceState" nillable="true" type="tns:DeviceState" />
  <xs:simpleType name="DeviceType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DataProducer" />
          <xs:enumeration value="DataConsumer" />
          <xs:enumeration value="DataProducerConsumer">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="DeviceType" nillable="true" type="tns:DeviceType" />
</xs:schema>