MessageEngine/EngineConfig/EngineConfigUtil/Service References/svcEngineConfig/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8989/EngineConfigWCF/EngineConfigService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" />
  <xs:import schemaLocation="http://localhost:8989/EngineConfigWCF/EngineConfigService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" />
  <xs:import schemaLocation="http://localhost:8989/EngineConfigWCF/EngineConfigService/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDeviceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="GetDeviceListResult" nillable="true" type="q1:ArrayOfDeviceConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="Device" nillable="true" type="q2:DeviceConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" minOccurs="0" name="GetDeviceStateResult" type="q3:DeviceState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="Device" nillable="true" type="q4:DeviceConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="Device" nillable="true" type="q5:DeviceConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEventLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="GetEngineStateResult" type="q6:EngineState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopEngine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopEngineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEngine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEngineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineRev">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineRevResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEngineRevResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="GetLocalDevicesResult" nillable="true" type="q7:ArrayOfDeviceConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Config" nillable="true" type="q8:DeviceConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalFilters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="GetLocalFiltersResult" nillable="true" type="q9:ArrayOfFilterConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Device" nillable="true" type="q10:DeviceConfig" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Config" nillable="true" type="q11:FilterConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFilterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDevicePlugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Config" nillable="true" type="q12:DeviceConfig" />
        <xs:element minOccurs="0" name="Device" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DependentNames" nillable="true" type="q13:ArrayOfstring" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Dependents" nillable="true" type="q14:ArrayOfbase64Binary" />
        <xs:element minOccurs="0" name="_iv" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadDevicePluginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadDevicePluginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFilterPlugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Device" nillable="true" type="q15:DeviceConfig" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Config" nillable="true" type="q16:FilterConfig" />
        <xs:element minOccurs="0" name="Device" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="_iv" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFilterPluginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadFilterPluginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Config" nillable="true" type="q17:DeviceConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOptionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilterOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Config" nillable="true" type="q18:DeviceConfig" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_FilterConfig" nillable="true" type="q19:FilterConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilterOptionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLoadDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Config" nillable="true" type="q20:DeviceConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLoadDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLoadFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_Config" nillable="true" type="q21:DeviceConfig" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" minOccurs="0" name="_FilterConfig" nillable="true" type="q22:FilterConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLoadFilterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>