DrinkInventory/Reporting/Web2/Service References/ReportingService/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ServiceResult">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ServiceResult" nillable="true" type="tns:ServiceResult" />
  <xs:complexType name="ExceptionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExceptionResult" nillable="true" type="tns:ExceptionResult" />
  <xs:complexType name="GetUserGroupsResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="UserGroups" nillable="true" type="q1:ArrayOfUserGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserGroupsResult" nillable="true" type="tns:GetUserGroupsResult" />
  <xs:complexType name="SuccessResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SuccessResult" nillable="true" type="tns:SuccessResult" />
  <xs:complexType name="GetUserGroupResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="UserGroup" nillable="true" type="q2:UserGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserGroupResult" nillable="true" type="tns:GetUserGroupResult" />
  <xs:complexType name="GetReportsResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Reports" nillable="true" type="q3:ArrayOfReport" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetReportsResult" nillable="true" type="tns:GetReportsResult" />
  <xs:complexType name="GetUpcsResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Upcs" nillable="true" type="q4:ArrayOfUPC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUpcsResult" nillable="true" type="tns:GetUpcsResult" />
  <xs:complexType name="GetUserResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="User" nillable="true" type="q5:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserResult" nillable="true" type="tns:GetUserResult" />
  <xs:complexType name="GetUsersResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Users" nillable="true" type="q6:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUsersResult" nillable="true" type="tns:GetUsersResult" />
  <xs:complexType name="LogOnResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Session" nillable="true" type="q7:Session" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogOnResult" nillable="true" type="tns:LogOnResult" />
  <xs:complexType name="GetDataTableResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true">
            <xs:complexType>
              <xs:annotation>
                <xs:appinfo>
                  <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDataTableResult" nillable="true" type="tns:GetDataTableResult" />
  <xs:complexType name="GetReportResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Report" nillable="true" type="q8:Report" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetReportResult" nillable="true" type="tns:GetReportResult" />
  <xs:complexType name="GetAreaResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceResult">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Area" nillable="true" type="q9:Area" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAreaResult" nillable="true" type="tns:GetAreaResult" />
  <xs:complexType name="GetUpcResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Upc" nillable="true" type="q10:UPC" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUpcResult" nillable="true" type="tns:GetUpcResult" />
  <xs:complexType name="GetVisibleWidgetIdsResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WidgetIds" nillable="true" type="q11:ArrayOfguid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetVisibleWidgetIdsResult" nillable="true" type="tns:GetVisibleWidgetIdsResult" />
  <xs:complexType name="AddOrganizationResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Organization" nillable="true" type="q12:Organization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddOrganizationResult" nillable="true" type="tns:AddOrganizationResult" />
  <xs:complexType name="GetOrganizationsResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Organizations" nillable="true" type="q13:ArrayOfOrganization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOrganizationsResult" nillable="true" type="tns:GetOrganizationsResult" />
  <xs:complexType name="GetOrganizationResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Organization" nillable="true" type="q14:Organization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetOrganizationResult" nillable="true" type="tns:GetOrganizationResult" />
  <xs:complexType name="GetAreasResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Areas" nillable="true" type="q15:ArrayOfArea" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAreasResult" nillable="true" type="tns:GetAreasResult" />
  <xs:complexType name="GetAreaForSectionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Area" nillable="true" type="q16:Area" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAreaForSectionResult" nillable="true" type="tns:GetAreaForSectionResult" />
  <xs:complexType name="GetParametersResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SuccessResult">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="Parameters" nillable="true" type="q17:ArrayOfParameter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetParametersResult" nillable="true" type="tns:GetParametersResult" />
</xs:schema>