DrinkInventory/Reporting/Web2/Service References/ReportingService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetOrganizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_parentId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetOrganizationsResult" nillable="true" type="q3:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_organizationId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetOrganizationResult" nillable="true" type="q6:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_parentId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="NewOrganizationResult" nillable="true" type="q9:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q10:guid" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="_organization" nillable="true" type="q11:Organization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="SaveOrganizationResult" nillable="true" type="q12:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_organizationId" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="DeleteOrganizationResult" nillable="true" type="q15:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q16:guid" />
        <xs:element minOccurs="0" name="_filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_showValidated" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetUpcsResult" nillable="true" type="q17:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_upcId" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetUpcResult" nillable="true" type="q20:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUpc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUpcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="NewUpcResult" nillable="true" type="q22:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUpc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q23:guid" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="_upc" nillable="true" type="q24:UPC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUpcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="SaveUpcResult" nillable="true" type="q25:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUpc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q26:guid" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_upcId" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUpcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="DeleteUpcResult" nillable="true" type="q28:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetUserGroupsResult" nillable="true" type="q30:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q31:guid" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_userGroupId" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetUserGroupResult" nillable="true" type="q33:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="NewUserGroupResult" nillable="true" type="q35:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q36:guid" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="_userGroup" nillable="true" type="q37:UserGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="SaveUserGroupResult" nillable="true" type="q38:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q39:guid" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_userGroupId" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="DeleteUserGroupResult" nillable="true" type="q41:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetUsersResult" nillable="true" type="q43:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q44:guid" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_userId" type="q45:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetUserResult" nillable="true" type="q46:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q47:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="NewUserResult" nillable="true" type="q48:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q49:guid" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.Data.POCO" minOccurs="0" name="_user" nillable="true" type="q50:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="SaveUserResult" nillable="true" type="q51:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q52:guid" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_userId" type="q53:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="DeleteUserResult" nillable="true" type="q54:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisibleWidgetIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q55:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisibleWidgetIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetVisibleWidgetIdsResult" nillable="true" type="q56:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleWidgetIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q57:guid" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_widgetIds" nillable="true" type="q58:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleWidgetIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="SetVisibleWidgetIdsResult" nillable="true" type="q59:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="LogOnResult" nillable="true" type="q60:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q61:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="LogOffResult" nillable="true" type="q62:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q63:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="SessionActivityResult" nillable="true" type="q64:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q65:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetSessionResult" nillable="true" type="q66:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q67:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetAreasResult" nillable="true" type="q68:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q69:guid" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_areaId" type="q70:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetAreaResult" nillable="true" type="q71:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q72:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetReportsResult" nillable="true" type="q73:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q74:guid" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_reportId" type="q75:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetReportResult" nillable="true" type="q76:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q77:guid" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_reportId" type="q78:guid" />
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_parameters" nillable="true" type="q79:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetReportDataResult" nillable="true" type="q80:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q81:guid" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_reportId" type="q82:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetParametersResult" nillable="true" type="q83:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentPours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="_sessionId" type="q84:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentPoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Jaxis.DrinkInventory.Reporting.WcfService.DataContracts" minOccurs="0" name="GetRecentPoursResult" nillable="true" type="q85:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>