Sandboxes/Bret Sandbox/BevMet/ConnectionTest/Service References/HostWCFServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BEVMET_FULL_BAR.PourEngine" />
  <xs:element name="GetUPCByTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUPCByTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BEVMET_FULL_BAR.PourEngine" minOccurs="0" name="GetUPCByTagResult" nillable="true" type="q1:UPCData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BEVMET_FULL_BAR.PourEngine" minOccurs="0" name="GetSettingsResult" nillable="true" type="q2:EngineSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushPourData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BEVMET_FULL_BAR.PourEngine" minOccurs="0" name="data" nillable="true" type="q3:PourData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushPourDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTagEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BEVMET_FULL_BAR.PourEngine" minOccurs="0" name="data" nillable="true" type="q4:TagPhase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTagEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushStoredEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BEVMET_FULL_BAR.PourEngine" minOccurs="0" name="data" nillable="true" type="q5:ArrayOfTagPhase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushStoredEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDeviceAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BEVMET_FULL_BAR.PourEngine" minOccurs="0" name="ticket" nillable="true" type="q6:DeviceAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDeviceAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushDeviceAlertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStartEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStartEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendStartEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>