Sandboxes/Bret Sandbox/WebServiceTest/Web References/svcTest/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jaxis.Readers.Identec" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jaxis.Readers.Identec" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9191/PourEngineConfig/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UPCData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountInBottle" type="xs:short" />
      <xs:element minOccurs="0" name="BottleSize" type="xs:short" />
      <xs:element minOccurs="0" name="NozzleDiameter" type="xs:float" />
      <xs:element minOccurs="0" name="TagID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ViscocityByTemperature" nillable="true" type="q1:ArrayOfKeyValueOfintdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UPCData" nillable="true" type="tns:UPCData" />
  <xs:complexType name="ArrayOfUPCData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UPCData" nillable="true" type="tns:UPCData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUPCData" nillable="true" type="tns:ArrayOfUPCData" />
</xs:schema>