MessageEngine/Plugins/Jaxis/BeverageManagementPlugin/Service References/svcCloudNotification/CloudNotification3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63317/CloudNotification.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CloudAlerts" />
  <xs:element name="PushAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CloudAlerts" minOccurs="0" name="_alert" nillable="true" type="q1:AlertMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>