Sandboxes/Bret Sandbox/PourConfigTest/PourConfigTest/Service References/svcPour/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BevWebServiceData" />
  <xs:element name="AddUPCData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BevWebServiceData" minOccurs="0" name="data" nillable="true" type="q1:UPCData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUPCDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventID" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BevWebServiceData" minOccurs="0" name="upcData" nillable="true" type="q2:ArrayOfUPCData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>