Sandboxes/Bret Sandbox/RSC/RSCService/RSCService/Service References/KPIService/KPIService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.206.176.194/KPIBase/KPIService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.206.176.194/KPIBase/KPIService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KPIBase.Model" />
  <xs:element name="GetLeniency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeniencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetLeniencyResult" nillable="true" type="q2:ArrayOfLeniency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeniencyDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeniencyDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetLeniencyDetailResult" nillable="true" type="q4:ArrayOfLeniencyDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeniencySum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeniencySumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetLeniencySumResult" nillable="true" type="q6:ArrayOfLeniencySum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogSpendNonRSCRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogSpendNonRSCRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetCatalogSpendNonRSCRSResult" nillable="true" type="q8:ArrayOfCatalogSpendNonRSCRS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogSpendRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogSpendRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetCatalogSpendRSResult" nillable="true" type="q10:ArrayOfCatalogSpendRS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentUtilization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEquipmentUtilizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetEquipmentUtilizationResult" nillable="true" type="q12:ArrayOfEquipmentUtilization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeTopFive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q13:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeTopFiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetExchangeTopFiveResult" nillable="true" type="q14:ArrayOfExchangeTopFive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyRerentInvoiceCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q15:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyRerentInvoiceCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetMonthlyRerentInvoiceCountResult" nillable="true" type="q16:ArrayOfMonthlyReRentInvoiceCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop10AccountCodeSpend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q17:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop10AccountCodeSpendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetTop10AccountCodeSpendResult" nillable="true" type="q18:ArrayOfTop10AccountCodeSpend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop10JobsiteSpend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q19:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTop10JobsiteSpendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetTop10JobsiteSpendResult" nillable="true" type="q20:ArrayOfTop10JobsiteSpend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorSpendTop10">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q21:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorSpendTop10Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetVendorSpendTop10Result" nillable="true" type="q22:ArrayOfVendorSpendingTop10" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeTopFiveDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q23:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeTopFiveDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetExchangeTopFiveDetailResult" nillable="true" type="q24:ArrayOfExchangeTopFiveDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEarlyOffRentWithGPS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q25:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEarlyOffRentWithGPSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetEarlyOffRentWithGPSResult" nillable="true" type="q26:ArrayOfEarlyOffRentWithGPS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreightAvoidance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q27:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreightAvoidanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetFreightAvoidanceResult" nillable="true" type="q28:ArrayOfFreightAvoidance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreightAvoidanceSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q29:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreightAvoidanceSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetFreightAvoidanceSumResult" nillable="true" type="q30:ArrayOfFreightAvoidanceSum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnRentUsageByDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q31:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnRentUsageByDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetOnRentUsageByDayResult" nillable="true" type="q32:ArrayOfOnRentUsageByDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnTimeDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q33:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnTimeDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetOnTimeDeliveryResult" nillable="true" type="q34:ArrayOfOnTimeDelivery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffRentCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q35:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffRentCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetOffRentCostResult" nillable="true" type="q36:ArrayOfOffRentCost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffRentCostSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q37:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffRentCostSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetOffRentCostSumResult" nillable="true" type="q38:ArrayOfOffRentCostSum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffRentNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q39:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffRentNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetOffRentNotificationsResult" nillable="true" type="q40:ArrayOfOffRentNotifications" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCSUtilization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q41:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCSUtilizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetCSUtilizationResult" nillable="true" type="q42:ArrayOfCSUtilization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q43:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetInvoiceInfoResult" nillable="true" type="q44:ArrayOfInvoiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceCallsTopFive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q45:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceCallsTopFiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetServiceCallsTopFiveResult" nillable="true" type="q46:ArrayOfServiceCallsTopFive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeAnnual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q47:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeAnnualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetExchangeAnnualResult" nillable="true" type="q48:ArrayOfExchangeAnnual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPastDueForOffRent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q49:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPastDueForOffRentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetPastDueForOffRentResult" nillable="true" type="q50:ArrayOfPastDueForOffRent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q51:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReturnNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetReturnNotificationsResult" nillable="true" type="q52:ArrayOfReturnNotifications" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadTimeEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q53:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadTimeEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetLeadTimeEquipmentResult" nillable="true" type="q54:ArrayOfLeadTimeEquipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceAccuracy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q55:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceAccuracyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetInvoiceAccuracyResult" nillable="true" type="q56:ArrayOfInvoiceAccuracy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMiddleMarkUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q57:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMiddleMarkUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetMiddleMarkUpResult" nillable="true" type="q58:ArrayOfMiddleMarkUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizationSavings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q59:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilizationSavingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetUtilizationSavingsResult" nillable="true" type="q60:ArrayOfUtilizationSavings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyInvoiceCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q61:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthlyInvoiceCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetMonthlyInvoiceCountResult" nillable="true" type="q62:ArrayOfMonthlyInvoiceCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThirdPartyInvoiceValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q63:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThirdPartyInvoiceValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetThirdPartyInvoiceValidationResult" nillable="true" type="q64:ArrayOfThirdPartyInvoiceValidation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSLowUtilization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q65:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSLowUtilizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetGPSLowUtilizationResult" nillable="true" type="q66:ArrayOfGPSLowUtilization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSTrackers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="siteCustomers" nillable="true" type="q67:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSTrackersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/KPIBase.Model" minOccurs="0" name="GetGPSTrackersResult" nillable="true" type="q68:ArrayOfGPSTrackers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>