MessageEngine/EngineConfig/VersionService/EngineConfigVersionDll/Service References/EngineWCFConfigServiceReference/JaxisEngine.Base.Device.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jaxis.Engine.Base.Device" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" />
    <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    <xs:complexType name="ArrayOfDeviceConfig">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceConfig" nillable="true" type="tns:DeviceConfig" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfDeviceConfig" nillable="true" type="tns:ArrayOfDeviceConfig" />
    <xs:complexType name="DeviceConfig">
        <xs:sequence>
            <xs:element name="_x003C_AssemblyName_x003E_k__BackingField" nillable="true" type="xs:string" />
            <xs:element name="_x003C_AssemblyType_x003E_k__BackingField" nillable="true" type="xs:string" />
            <xs:element name="_x003C_AssemblyVersion_x003E_k__BackingField" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" name="_x003C_ConsumerMessageType_x003E_k__BackingField" type="q1:MessageType" />
            <xs:element name="_x003C_Filters_x003E_k__BackingField" nillable="true" type="tns:ArrayOfFilterConfig" />
            <xs:element name="_x003C_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
            <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
            <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Options_x003E_k__BackingField" nillable="true" type="q2:ArrayOfstring" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" name="_x003C_State_x003E_k__BackingField" type="q3:DeviceState" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" name="_x003C_Type_x003E_k__BackingField" type="q4:DeviceType" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DeviceConfig" nillable="true" type="tns:DeviceConfig" />
    <xs:complexType name="ArrayOfFilterConfig">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FilterConfig" nillable="true" type="tns:FilterConfig" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfFilterConfig" nillable="true" type="tns:ArrayOfFilterConfig" />
    <xs:complexType name="FilterConfig">
        <xs:sequence>
            <xs:element name="_x003C_AssemblyName_x003E_k__BackingField" nillable="true" type="xs:string" />
            <xs:element name="_x003C_AssemblyType_x003E_k__BackingField" nillable="true" type="xs:string" />
            <xs:element name="_x003C_AssemblyVersion_x003E_k__BackingField" nillable="true" type="xs:string" />
            <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
            <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Options_x003E_k__BackingField" nillable="true" type="q5:ArrayOfstring" />
            <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" name="_x003C_Type_x003E_k__BackingField" type="q6:FilterType" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FilterConfig" nillable="true" type="tns:FilterConfig" />
    <xs:simpleType name="EngineState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Started" />
            <xs:enumeration value="Stopped" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="EngineState" nillable="true" type="tns:EngineState" />
</xs:schema>