Sandboxes/Bret Sandbox/BevMet/PourControlsAPI/PourControlsAPI/Web References/BevMonAPI/item0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8787/BeverageManagementAPI/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jaxis.BeverageManagement.Plugin" />
  <xs:element name="GetPourInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="_endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPourInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jaxis.BeverageManagement.Plugin" minOccurs="0" name="GetPourInformationResult" nillable="true" type="q1:ArrayOfPourInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>