MessageEngine/Plugins/Jaxis/BeverageManagementPlugin/Service References/PourDataService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jaxis.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseMessage" nillable="true" type="tns:BaseMessage" />
</xs:schema>