MessageEngine/Plugins/Jaxis/BeverageManagementPlugin/Service References/PourDataService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8223/HostWCFService/PourEngineService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jaxis.MessageLibrary" />
  <xs:import schemaLocation="http://localhost:8223/HostWCFService/PourEngineService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Jaxis.Inventory.Data" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushCalcPourData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jaxis.MessageLibrary" minOccurs="0" name="data" nillable="true" type="q1:CalcPour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushCalcPourDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushPourData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jaxis.Inventory.Data" minOccurs="0" name="data" nillable="true" type="q2:DataPour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushPourDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTagActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jaxis.Inventory.Data" minOccurs="0" name="data" nillable="true" type="q3:DataTagActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTagActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTagAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jaxis.Inventory.Data" minOccurs="0" name="data" nillable="true" type="q4:DataTagAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTagAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDeviceAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jaxis.Inventory.Data" minOccurs="0" name="data" nillable="true" type="q5:DataDeviceAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushDeviceAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTagMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jaxis.Inventory.Data" minOccurs="0" name="ticket" nillable="true" type="q6:DataTagMove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTagMoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushActivityLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Jaxis.Inventory.Data" minOccurs="0" name="ticket" nillable="true" type="q7:DataActivityLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushActivityLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jaxis.Inventory.Data" minOccurs="0" name="ticket" nillable="true" type="q8:DataPOSTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>